<?xml version="1.0"?>
<configuration xmlns="http://schemas.microsoft.com/.NetConfiguration/v2.0">
	<system.web>
		<!-- Configuration for Roles -->
		<roleManager enabled="true"/>
		<!-- Customization of Forms-Based Auth (using Default.aspx as login page) -->
		<authentication mode="Forms">
			<forms loginUrl="~/Default.aspx"/>
		</authentication>
		<!-- Customization of site navigation feature, turning on security trimming and using
      alternate file for the sitemap... -->
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="UniqueFileName.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
		<compilation targetFramework="4.0"/>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/></system.web>
</configuration>
